.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  /* border: 5px solid; */
}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  /* border: 5px solid; */
  margin-top: 50vh;

}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
  /* border: 5px solid; */

}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  height: 100%;
}
.proj-m{
  display: none;
}
@media (max-width:480px) {
  .portfolio span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
    /* border: 5px solid; */
    margin-top: 120vh;
  
  }
  .proj-d{
    display: none;
  }
  .proj-m{
    display: block;
  }
  .portfolio .swiper{
    /* border: 5px solid; */
    overflow: visible!important;
    display: flex;
    flex-direction: column;
    
}

.portfolio-slider {
  margin-top: 10vh;
  width: 100%;
  /* border: 5px solid red; */
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  gap: 5vh;

}

.portfolio-slider .swiper-slide {
  width: 20rem;
  border: 5px solid rgb(81, 255, 0);
  
}
}